@use 'sass:color';

$minimalistChicNightBlue: #42494f !default;


// $steelBlue: #5d656d !default;
// $gptBrandColor: #5bbf97 !default;
// $aiGreen: #56967c !default;
// $darkPastelGreen: #55967c !default;    // Create new element button color
// $light-grey: #aeaeae !default;

$minimalistChicOffWhite: #f5f3f3 !default;
$solarizedOffWhiteMuted: #bfbfbf !default;

$ghIconColor: #24292e;
$ghDarkColor: #656d76;
$ghBorderColor: #d0d9e0;

$editableElementHoverColor: #0969da;
$activeElementAccentColor: #e5e5e8;


// Main app configutation ################################################################################
$mainBackgroundColor: #fff;
$mainAccentColor: #fcfcfc;    // from ayu-light theme

// Typography
// $main-text-color: #5d5d5d;
$mainTextColor: #374151;
$secondaryTextColor: #8a8a8a;

//END Main app configutation #############################################################################



// Components ############################################################################################

// Dropdown component
// For the cases when dropdown is located on non-white background
$dropdownLightThemeIconColor: $ghDarkColor;
$dropdownLightThemeIconColorHover: $ghDarkColor;
$dropdownLightThemeIconColorActive: color.adjust($ghDarkColor, $lightness: -5%);
$dropdownLightThemeIconBackgroundColorHover: $ghBorderColor;
$dropdownLightThemeIconBackgroundColorActiveHover: transparent;
$dropdownLightThemeSubmenuBackgroundColor: #fff;
$dropdownLightThemeSubmenuTextColor: $minimalistChicNightBlue;
$dropdownLightThemeSubmenuBorderColor: $ghBorderColor;
$dropdownLightThemeSubmenuBoxShadow: .05rem .05rem 7px 0px rgba(0,0,0,.2);

// For the cases when dropdown is located on white background
$dropdownDarkThemeIconColor: $ghDarkColor;
$dropdownDarkThemeIconColorHover: $ghDarkColor;
$dropdownDarkThemeIconColorActive: color.adjust($ghDarkColor, $lightness: -5%);
$dropdownDarkThemeIconBackgroundColorHover: color.adjust($activeElementAccentColor, $lightness: -10%);
$dropdownDarkThemeIconBackgroundColorActiveHover: transparent;
$dropdownDarkThemeSubmenuBackgroundColor: #fff;
$dropdownDarkThemeSubmenuTextColor: $minimalistChicNightBlue;
$dropdownDarkThemeSubmenuBorderColor: color.adjust($activeElementAccentColor, $lightness: -10%);
$dropdownDarkThemeSubmenuBoxShadow: .05rem .05rem 7px 0px rgba(0,0,0,.2);
//END Dropdown component

// Tags Input component
$tagsInputPlacehoderTextColorHover: $editableElementHoverColor;
//END Tags Input component


// Sidebar sectioin ############################################################################################
$sidbarBackgroundColor: linear-gradient( 45deg, #f7f7f8 0%, rgba(247, 247, 248, 1) 100% );
$sidebarTextColor: $minimalistChicNightBlue;
$sidebarTextColor: #000;
$sidebarLogoFiler: none;
// $sidebarProjectsScrollContainerBackgroundColor: $mainAccentColor;
// $sidebarProjectsScrollContainerBackgroundColor: linear-gradient( 45deg, #f7f7f8 0%, rgba(247, 247, 248, 1) 100% );
$sidebarProjectsScrollContainerBackgroundColor: transparent;
// $sidebarProjectsScrollContainerBackgroundColor: red;

// ProjectRow component
$projectRowBackgroundColor: transparent;
// $projectRowBoxShadow: 0px 0px 0px 1px rgba(234, 234, 234, 1);
$projectRowSeparatorLineFallbackColor: rgb(234,234,234);
$projectRowSeparatorLineGradientColor: linear-gradient(90deg, rgba(234,234,234,1) 0%, rgba(234,234,234,1) 55%, rgba(255,255,255,1) 100%);
$projectRowActiveBackgroundColor: $activeElementAccentColor;
$projectRowHoverBackgroundColor: color.adjust($projectRowActiveBackgroundColor, $lightness: 4%);
$projectTitleColor: $minimalistChicNightBlue;
$projectTitleActiveColor: color.adjust($minimalistChicNightBlue, $lightness: -10%);
$projectRowWrapperBoxShadow: 0 0 7px 0 rgba(0,0,0,.02);
$projectRowBorderRadius: 0px;

$projectRowDropdownSubmenuColor: $minimalistChicOffWhite;
$projectRowDropdownColor: $minimalistChicNightBlue;


// ProseMirror ############################################################################################
$aiResponseMessageIndicatorColor: #d7d7d7;
$aiResponseMessageIndicatorAccentPointerColor: #d7d7d7;
$aiResponseMessageIndicatorBoundariesWidth: 1px;
$inlineCodeTextColor: #9d0006;


// CodeMirror ############################################################################################
$codeBlockBackgroundColor: $mainAccentColor;

//END CodeMirror #########################################################################################


// Typography ############################################################################################
$headingsColor: #202123;
// END Typography ########################################################################################









