.ai-user-message, .ai-response-message, .ai-user-input {
	padding: .5rem 1.3rem .5rem 1rem;	
}

.ai-user-message, .ai-response-message {
	display: table;
	// border-radius: 9px;
	border-radius: 7px 7px 7px 9px;
	// box-shadow: 1px 1px 11px 0px rgb(0 0 0 / 25%);
	// margin: 1rem 0;
}

.ai-user-input-wrapper {
	background: linear-gradient(to right, #5c656d, #646e77, #6c747c);
    padding: 3px 2px 6px 2px;
    margin-top: 1.5rem;
	margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.55);
	.ai-user-input {
		background: #fff;;
		border-radius: 7px;
	}
	.ai-user-input-control-buttons {
		display: flex;
		margin: 6px 9px 0px;
		button {
			// font-family: "Source Sans Pro", Helvetica ,sans-serif;	
			background: #4b5054;
			// background: linear-gradient(to right, #636d75, #68737c, #6c747c);
			border: none;
			outline: none;
			border-radius: 4px;
			// line-height: 1;
			// height: 1.3rem;
			cursor: pointer;
			color: #fff;
			font-weight: 500;
			box-shadow: 1px 1px 11px 0px rgb(0 0 0 / 25%);
			user-select: none;
			// margin-right: .6rem;
			padding: 0.2rem .4rem;
			user-select: none;
			transition: background 100ms ease-in-out;
			// font-weight: 700;
			font-size: .9rem;
			&:hover {
				background: darken($steelBlue, 15);
				transition: none
			}
			&.stop-button {
				background: $code-red;
				&:hover {
					background: darken($code-red, 10);
				}
			}
			&.regenerate-button {
				background: $aiGreen;
				&:hover {
					background: darken($aiGreen, 10);
				}
			}
			&:first-of-type {
				margin-right: .7rem;
			}
			&:last-of-type {
				margin-left: auto;
			}
		}
	}
}



.ai-user-message-decorator, .ai-response-message-decorator {
	// border-radius: 9px;
	// border-radius: .375rem;
    display: table;
	padding: 0;
	margin: .7rem 0;
	position: relative;

	//TODO: possible background for user message
	// display: flex;
	// margin: 0.7rem -9%;
    // padding: 7px 9%;
	// background: #56967c;

	
	&:before,
	&:after {
		bottom: -0.1rem;
		content: "";
		height: 1rem;
		position: absolute;
		z-index: 0;

	}
	&:before {
		// Original from: https://codepen.io/AllThingsSmitty/pen/jommGQ
		// border-bottom-right-radius: 0.8rem 0.7rem;
		// border-left: 1rem solid #e5e5ea;
		// left: -0.35rem;
		// transform: translate(0, -0.1rem);


		border-bottom-right-radius: 10px 8px;
		border-left: 1rem solid orange;
		left: -12px;
		transform: translate(2px, -4px);
	}
	&:after {
		// Original from: https://codepen.io/AllThingsSmitty/pen/jommGQ
		// background-color: #fff;
		// border-bottom-right-radius: 0.5rem;
		// left: 20px;
		// transform: translate(-30px, -2px);
		// width: 10px;


		border-bottom-right-radius: 13px;
		left: 4px;
		transform: translate(-19px, -4px);
		width: 17px;
	}


	.user-avatar {
		display: block;
		width: $avatarIconSize;
		height: $avatarIconSize;
		border-radius: 99px;
		overflow: hidden;
		position: absolute;
		box-shadow: 0 0 calc($avatarIconSize/2) 0 rgb(0 0 0 / 17%);
		user-select: none;
		left: -33px;
		bottom: 1px;
		cursor: default;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.ai-user-message, .ai-response-message {
		// border-radius: 9px;
		position: relative;
		z-index: 2;
		margin: 0;
		display: flex;
		align-items: center;
		padding: 0;
		// display: none;
		.ai-user-message-content, .ai-response-message-content {
			padding: .3rem 1rem .3rem .6rem;
		}
	}
	// .delete-button, .accept-button {
	// 	padding: 12px 5px;
	// 	background: transparent;
	// 	border: none;
	// 	outline: none;
	// 	vertical-align: middle;
	// 	display: flex;
	// 	// display: none;
	// 	// display: none;
	// 	transition: opacity 50ms ease-out;
	// 	svg {
	// 		width: 100%;
	// 		height: 100%;
	// 		max-width: 15px;
	// 		fill: #fff;
	// 		transition: fill 50ms ease-out;
	// 	}
	// 	&:hover {
	// 		cursor: pointer;
	// 		transition: none;
	// 	}
	// }
	// .accept-button {
	// 	&:hover {
	// 		svg {
	// 			fill: #60deab;
	// 		}
	// 	}
	// }
	// .delete-button {
	// 	padding-right: .9rem;
	// 	&:hover {
	// 		svg {
	// 			fill: $code-red;
	// 		}
	// 	}
	// }
	// &:hover {
	// 	// .accept-button {
	// 	// 	margin-left: -1rem;
	// 	// }
	// 	.delete-button, .accept-button {
	// 		transition: none;
	// 		opacity: 1;
	// 		display: inline-flex;
	// 	}
	// }
}
.ai-user-message-decorator {
	color: #fff;
	background: linear-gradient(to right, #636d75, #68737c, #6c747c);
	&:before {
		background: linear-gradient(to right, #6c747c, #717982, #68737c);
	}
	&:after {
		background-color: #fff;
	}
	.ai-user-message {
		color: #fff;
		box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.25);
		background: linear-gradient(to right, #636d75, #68737c, #6c747c);
	}	
}

.ai-response-message-decorator {
	&:before {
		background: #657079;
		background: #8e9499;
		background: orange;
	}
	&:after {
		background-color: #fff;
	}
	.user-avatar {
		// box-shadow: 1px 1px 7px 0px rgb(0 0 0 / 25%), inset 0px 0px 0px 1px #657079;
		// box-shadow: 0 0 calc($avatarIconSize/2) 0 rgb(0 0 0 / 17%), inset 0px 0px 6px 0px rgb(0 0 0 / 17%);
		box-shadow: none;
		svg {
			fill: $steelBlue;
			fill: #94999d;
			
		}
		&.node-receiving-animation svg {
			animation: heartbeatAnimation 1.5s infinite;
            animation-timing-function: ease-in-out;
		}
	}
	.ai-response-message {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			display: block;
			height: 100%;
			width: 2px;
			background-color: orange;
			border-radius: 100px;
		}
		// box-shadow: 1px 1px 11px 0px #dadee0;
		background: #fff;
		// box-shadow: 1px 1px 9px 0px #c5c5c5;
		// box-shadow: 1px 2px 17px 0px rgb(0 0 0 / 10%), inset 0px 0px 0px 1px #abb6bf;
	}
}

.ai-suggest-decorator {
	&.visible {
		opacity: 1;
	}
}
.ai-suggest-highlighted {
	font-weight: 400;
	color: #56967c;
}


.node-render-animation {
    animation: popOut 400ms cubic-bezier(0.19, 1, 0.22, 1);
}





















// Cleaned up version
div {
	&:before,
	&:after {
		bottom: -0.1rem;
		content: "";
		height: 1rem;
		position: absolute;
		z-index: 0;

	}
	&:before {
		border-bottom-right-radius: 10px 8px;
		border-left: 1rem solid orange;
		left: -12px;
		transform: translate(2px, -4px);
		background: orange;
	}
	&:after {
		border-bottom-right-radius: 13px;
		left: 4px;
		transform: translate(-19px, -4px);
		width: 17px;
		background-color: #fff;
	}
}



