@import url('https://fonts.cdnfonts.com/css/herculanum-lt-pro');

@font-face {
    font-family: 'Söhne';
    src: url('/fonts/sohne-test/sohne/test-soehne-buch.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Söhne';
    src: url('/fonts/sohne-test/sohne/test-soehne-buch-kursiv.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  }

//   @font-face {
//     font-family: 'Söhne';
//     src: url('/fonts/sohne-test/sohne/test-soehne-dreiviertelfett.woff2') format('woff2');
//     font-weight: 600;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Söhne';
//     src: url('/fonts/sohne-test/sohne/test-soehne-dreiviertelfett-kursiv.woff2') format('woff2');
//     font-weight: 600;
//     font-style: italic;
//   }

//   @font-face {
//     font-family: 'Söhne';
//     src: url('/fonts/sohne-test/sohne/test-soehne-extrafett.woff2') format('woff2');
//     font-weight: 800;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Söhne';
//     src: url('/fonts/sohne-test/sohne/test-soehne-extrafett-kursiv.woff2') format('woff2');
//     font-weight: 800;
//     font-style: italic;
//   }

  @font-face {
    font-family: 'Söhne';
    src: url('/fonts/sohne-test/sohne/test-soehne-extraleicht.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Söhne';
    src: url('/fonts/sohne-test/sohne/test-soehne-extraleicht-kursiv.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
  }

//   @font-face {
//     font-family: 'Söhne';
//     src: url('/fonts/sohne-test/sohne/test-soehne-fett.woff2') format('woff2');
//     font-weight: 700;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Söhne';
//     src: url('/fonts/sohne-test/sohne/test-soehne-fett-kursiv.woff2') format('woff2');
//     font-weight: 700;
//     font-style: italic;
//   }

//   @font-face {
//     font-family: 'Söhne';
//     src: url('/fonts/sohne-test/sohne/test-soehne-halbfett.woff2') format('woff2');
//     font-weight: 500;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Söhne';
//     src: url('/fonts/sohne-test/sohne/test-soehne-halbfett-kursiv.woff2') format('woff2');
//     font-weight: 500;
//     font-style: italic;
//   }

  @font-face {
    font-family: 'Söhne';
    src: url('/fonts/sohne-test/sohne/test-soehne-kraftig.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Söhne';
    src: url('/fonts/sohne-test/sohne/test-soehne-kraftig-kursiv.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Söhne';
    src: url('/fonts/sohne-test/sohne/test-soehne-leicht.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Söhne';
    src: url('/fonts/sohne-test/sohne/test-soehne-leicht-kursiv.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
  }

  /* Söhne Mono font faces */
  @font-face {
    font-family: 'Söhne Mono';
    src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-buch.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Söhne Mono';
    src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-buch-kursiv.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  }

//   @font-face {
//     font-family: 'Söhne Mono';
//     src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-dreiviertelfett.woff2') format('woff2');
//     font-weight: 600;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Söhne Mono';
//     src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-dreiviertelfett-kursiv.woff2') format('woff2');
//     font-weight: 600;
//     font-style: italic;
//   }

//   @font-face {
//     font-family: 'Söhne Mono';
//     src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-extrafett.woff2') format('woff2');
//     font-weight: 800;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Söhne Mono';
//     src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-extrafett-kursiv.woff2') format('woff2');
//     font-weight: 800;
//     font-style: italic;
//   }

  @font-face {
    font-family: 'Söhne Mono';
    src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-extraleicht.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Söhne Mono';
    src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-extraleicht-kursiv.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
  }

//   @font-face {
//     font-family: 'Söhne Mono';
//     src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-fett.woff2') format('woff2');
//     font-weight: 700;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Söhne Mono';
//     src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-fett-kursiv.woff2') format('woff2');
//     font-weight: 700;
//     font-style: italic;
//   }

//   @font-face {
//     font-family: 'Söhne Mono';
//     src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-halbfett.woff2') format('woff2');
//     font-weight: 500;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Söhne Mono';
//     src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-halbfett-kursiv.woff2') format('woff2');
//     font-weight: 500;
//     font-style: italic;
//   }

  @font-face {
    font-family: 'Söhne Mono';
    src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-kraftig.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Söhne Mono';
    src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-kraftig-kursiv.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Söhne Mono';
    src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-leicht.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Söhne Mono';
    src: url('/fonts/sohne-test/sohne-mono/test-soehne-mono-leicht-kursiv.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
  }




// Font antialiasing
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

// Fonts and sizes
html, body {
    // font-family: 'Lato', sans-serif; // Is it used at all????? Consider removing
    // font-family: "Source Sans Pro", Helvetica ,sans-serif;
    // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    // font-weight: 300;
    color: $mainTextColor;

    font-feature-settings: normal;
    font-size: 15px;
    font-variation-settings: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    unicode-bidi: isolate;

    // Buy Söhne and Söhne Mono fonts
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

pre, code {
    font-family: "Söhne Mono", Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-weight: 400;
    font-size: .93rem;
}

h1, h2, h3, h4, h5, h6 {
    // font-family: 'Raleway', sans-serif;
    // font-family: 'Lato', sans-serif; // Is it used at all????? Consider removing
    font-weight: 400;
    // color: $nightBlue;
    // color: #565e67;
    color: $headingsColor;
}
h1 {
    // font-size: 2em;
    margin-top: .4rem;
    margin-bottom: .8rem;

    font-size: 30px;
    line-height: 1.3;
    letter-spacing: -.0167em;
    // font-weight: 400;
}
h2 {
    font-size: 1.63em;
    margin-top: .35rem;
    margin-bottom: .7rem;
}
h3 {
    font-size: 1.5em;
    margin-top: .3rem;
    margin-bottom: .6rem;
}
h4 {
    font-size: 1.3em;
    margin-top: .2rem;
    margin-bottom: .4rem;
}
h5 {
    font-size: 1.1em;
    margin-top: .175rem;
    margin-bottom: .35rem;
}
h6 {
    font-size: 1.03em;
    margin-top: .15rem;
    margin-bottom: .3rem;
}
p, ul, ol, dl, span, b, i, input {
    font-weight: 400;
    font-family: inherit;

    // margin-bottom: 15px;
    // font-size: 15px;
}

p, ul, ol, dl {
    margin-bottom: .3rem;
    // line-height: 1.2rem;
    // line-height: 1.6em;
}
    ul, ol, dl {
        > * {
            margin-bottom: .2rem;
        }
    }

b, strong {
    font-weight: 600;
    color: #565e67;
}

em, i {
  font-style: italic;
}

a {
    // color: #5bb3b1;
    color: #1885b0;
    text-decoration: none;
    cursor: pointer;
    &:not(.no-hover):hover {
        text-decoration: underline;
    }
}
