// Brand colours
$nightBlue: #42494f;
$steelBlue: #5d656d;
$aiGreen: #56967c;
$darkPastelGreen: #55967c;    // Create new element button color
$light-grey: #aeaeae;
$offWhite: #f5f3f3;
$offWhiteMuted: #bfbfbf;

// Third party brand colours. Used only to accurately represent colors of third party providers, like LLM providers etc.
//INFO: can not be used for anything else
$claudeAi: #D97757;
$gptBrandColor: #5bbf97;
$googleGemini: #4285F4;

// Are they used anywere at all???
// $red: #cd4444;
$red: #be4e1a;
$pink: #ff8ea2;
$redPink: #ec6079;
$dark-asphalt: #42494f;
$dark-asphalt-wet: #5c656d;
$almost-black: #23292d;
// $blue-asphalt: #2e3744;
$perfect-light-green: #d5e2cb;
$yet-another-light-green: #cedbb8;
$perfect-light-blue: linear-gradient(to right, #cfe8f473, #e6f0f8, #e5f1f9);


//TODO deprecated
// Color coded rows
$code-red: #db4545;
$code-red-hover: #fce8e2;
$code-yellow: #edde3f;
$code-yellow-hover: #faf6db;
$code-green: #39aa56;
$code-green-hover: #deecdc;
$code-grey: #666666;
$code-grey-hover: #f1f1f1;
